* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hubballi", cursive;
}

body {
  background-color: steelblue;
}

header {
  text-align: center;
  font-size: 2rem;
  margin: 3rem;
}

main {
  margin: 2rem;
}

#score {
  text-align: center;
}

.buttons {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  background-color: #ffffff;
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
  font-size: 2rem;
}

.activeButton {
  /* adding class to button with color */
}

.start_stop {
  margin: 2rem;
  text-align: center;
}

#startbutton {
  border: 0;
  width: 5rem;
  height: 2rem;
  border-radius: 2px;
  margin: 1rem;
  position: relative;
}

#stopbutton {
  display: none;
  border: 0;
  width: 5rem;
  height: 2rem;
  border-radius: 2px;
  margin: 1rem;
}

.container {
  position: absolute;
  height: 14rem;
  width: 30rem;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px black solid;
  display: none;
}

/* .container::before {
  border-radius: 2px;
  border: 1px black solid;
  content: "";
  position: fixed;
  top: 12rem;
  left: 18rem;
  bottom: 16rem;
  right: 18rem;
  opacity: 0.8;
} */

.stopGameBox p {
  position: absolute;
  bottom: 53px;
  left: 10rem;
  font-size: 1.5rem;
}

.stopGameBox button {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
